<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<style>
    .list {
        margin-left: 25px;
    }
    TABLE {
        width: 300px;
        border-collapse: collapse;
    }
    TD, TH {
        padding: 3px;
        border: 1px solid black;
    }
    TH {
        background: #b0e0e6;
    }
    #upper {
        background-color: #9f9e9e;
    }
</style>
<div>
    <p>Hello, World!</p>
</div>
<div id="btn">
    <a href="/login">
        <button type="button" class="btn btn-primary">Next page >></button>
    </a>
</div>
<div>
    <br>
</div>
<div>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
    </form>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение">
            <input type="text" name="tag" placeholder="Тэг">
            <button type="submit">Добавить</button>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
        </form>
    </div>
    <br>
    <div class="list">Список сообщений</div>
    <p></p>
    <table class="list">
        <tr id="upper">
            <td><b>id</b></td>
            <td><span>message</span></td>
            <td><i>tag</i></td>
            <td><strong>user</strong></td>
        </tr>
    <div th:each="message: ${msg}" class="list">
        <tr>
            <td><b th:text="${message.id}"></b></td>
            <td><span th:text="${message.textMessage}"></span></td>
            <td><i th:text="${message.tag}"></i></td>
            <td><strong th:text="${message.authorName}"></strong></td>
        </tr>
    </div>
    </table>
</div>
</body>
</html>